.new-tweet{
  background-color: whitesmoke;
  margin: 1em;
  border-radius: 15px;
}

.tweet-bottom {
  display: flex;
  justify-content: space-between;
}

#text {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  border-bottom: 2px solid lightslategray;
}

.tweet-bottom > button {
  font-family: 'Bungee', cursive;
  background-color: blue;
  color: white;
}

.tweet-bottom > output {
  font-family: 'Bungee', cursive;
  margin-right: 1em;
}